@media (max-width: 550px) {
  .header {
    &__nav {
      ul {
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .header {
    &__right {
      display: none;
    }
    &__mobile-buttons {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
      gap: 20px;
    }
    &__lang {

      //left: calc(50% - 10px);
      //top: 0;
      //z-index: -1;
      //opacity: 0;
      //right: auto;
      //text-align: center;
      //&.mobile-show {
      //  opacity: 1;
      //  z-index: 1;
      //}
      //
      //&.menu-opening {
      //  animation: navShowMenu var(--toggle-menu-time) linear 0.5s 1;
      //}
      //
      //&.menu-opened {
      //  opacity: 1;
      //  z-index: 1;
      //}
      //
      //&.menu-closed {
      //
      //  animation: navHideMenu var(--toggle-menu-time) linear 0s 1;
      //  opacity: 0;
      //  z-index: -1;
      //}
    }

  }
  .en {
    .header {
      &__lang {
        flex-direction: column;
      }
    }
  }
  .detail-news {
    &__socials {
      flex-direction: column;
      gap: 25px;
    }
  }
  .en-intro {
    &__items {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  .en-offer {
    &__items {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  .vacancies-form {
    &__fields {
      grid-template-areas:
    "name"
    "phone"
    "e-mail"
    "message"
    "file";
    }
  }
}