@media (max-width: 550px) {
  .header {
    &__nav {
      ul {
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .header {
    &__lang {

      //left: calc(50% - 10px);
      top: 0;
      z-index: -1;
      opacity: 0;
      right: auto;
      text-align: center;
      &.mobile-show {
        opacity: 1;
        z-index: 1;
      }

      &.menu-opening {
        animation: navShowMenu var(--toggle-menu-time) linear 0.5s 1;
      }

      &.menu-opened {
        opacity: 1;
        z-index: 1;
      }

      &.menu-closed {

        animation: navHideMenu var(--toggle-menu-time) linear 0s 1;
        opacity: 0;
        z-index: -1;
      }
    }

  }
  .en {
    .header {
      &__lang {
        flex-direction: column;
      }
    }
  }
  .detail-news {
    &__socials {
      flex-direction: column;
      gap: 25px;
    }
  }
  .en-intro {
    &__items {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  .en-offer {
    &__items {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}