.contacts {
  margin-top: 10px;
  &__row {
    margin-top: 50px;
    gap: 20px;
  }
  &__links {
    gap: 80px;
  }
  &__phone {
    font-size: 1.9rem;
    font-family: var(--font-uni-sans);
    font-weight: 600;
    color: var(--white);
    &:hover {
      text-decoration: underline;
    }
  }
  &__email {
    font-family: var(--font-uni-sans);
    text-decoration: underline;
    font-size: 1.5rem;
    color: var(--white);
  }
  &__info {
    margin-top: 100px;
  }
  &__tabs {
    padding-bottom: 15px;
    border-bottom: 3px solid rgba(205, 209, 228, 0.29);
    position: relative;
    ul {
      gap: 30px;
    }
    li {
      cursor: pointer;
    }
    li.current {
      pointer-events: none;
    }
  }

  &__tabs-indicator {
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 3px;
    width: 64px;
    background-color: var(--violet);
    transition: left .5s linear;
  }

  &__content-wrapper {
    margin-top: 40px;
  }

  &__data, &__map {
    flex: 1
  }

  &__map {
    iframe {
      width: 100%;
    }
  }

  &__data-block {
    max-width: 360px;
    & + & {
      margin-top: 40px;
    }
  }
  &__content {
    display: none;
    &.show {
      display: flex;
    }
  }
  &__data-name {
    font-family: var(--font-uni-sans);
    font-size: 1.2rem;
    font-weight: 600;
  }
  &__data-address {
    font-weight: 300;
    margin-top: 20px;
  }
  &__data-phone {
    font-weight: 600;
    font-size: 1.1rem;
    margin-top: 25px;
    a {
      font-family: var(--font-uni-sans);
      &:hover {
        text-decoration: underline;
      }
    }

  }
  &__data-email {
    a {
      text-decoration: underline;
    }
  }

  &__data-phone, &__data-email {
    a {
      color: var(--white);
    }
  }
}
