.client {
  gap: 30px;
  max-width: 1000px;
  padding: 0 1rem;
  width: 100%;
  margin: 140px auto 0;

  &__description,
  &__form {
    flex: 1;
  }
  &__description {
    //max-width: 360px;
  }
  //&__title,
  &__text {
    max-width: 460px;
    margin-top: 20px;
    font-family: var(--font-uni-sans);
    p {
      max-width: 410px;
    }
  }
  &__title {
    max-width: 240px;
  }
  &__text {
    font-size: 1.25rem;
  }
  &__form {
    input {
      width: 100%;
      font-size: 1.1rem;
      font-weight: 300;
    }
    button {
      margin-top: 40px;
    }
  }
}

.contacts-page-client {
  margin-top: 100px;
  border-radius: 6px;
  border: 1px solid var(--border-violet);
  padding: 65px 100px 65px 70px;
  .client {
    margin: 0;
    padding: 0;
    &__text {
      color: var(--grey-light)
    }
  }

}