@font-face {
  font-family: 'rubik';
  src: url('../fonts/rubik/Rubik.woff') format('woff'),
  url('../fonts/rubik/Rubik.woff2') format('woff2'),
  url('../fonts/rubik/Rubik.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'rubik';
  src: url('../fonts/rubik/Rubikmedium.woff') format('woff'),
  url('../fonts/rubik/Rubikmedium.woff2') format('woff2'),
  url('../fonts/rubik/Rubikmedium.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'ubuntu';
  src: url('../fonts/ubuntu/Ubuntu-Light.woff') format('woff');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'ubuntu';
  src: url('../fonts/ubuntu/Ubuntu-Regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'ubuntu';
  src: url('../fonts/ubuntu/Ubuntu-Medium.woff') format('woff');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'ubuntu';
  src: url('../fonts/ubuntu/Ubuntu-Bold.woff') format('woff');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'uniSans';
  src: url('../fonts/uni-sans/UniSansRegular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'uniSans';
  src: url('../fonts/uni-sans/UniSansSemiBold.woff') format('woff');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'uniSans';
  src: url('../fonts/uni-sans/UniSansBold.woff') format('woff');
  font-style: normal;
  font-weight: 700;
}