.footer {
  margin-top: 210px;
  &__logo {
    max-width: 60px;
    width: 100%;
  }
  &__nav {
    margin-left: 140px;
    gap: 80px;
    li + li {
      margin-top: 20px;
    }
    a {
      font-weight: 300;
      color: var(--white);
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__right {
    max-width: 470px;
    width: 100%;
  }
  &__contacts {
    gap: 50px;
    margin-left: auto;

  }
  &__phone {
    a {
      font-size: 1.5rem;
      font-family: var(--font-uni-sans);
      font-weight: 600;
      color: var(--white);
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__mail {
    margin-right: 70px;
    a {
      font-size: 1.1rem;
      color: var(--white);
      text-decoration: underline;
    }
  }
  &__bottom {
    margin-top: 72px;
    padding-bottom: 22px;
    //justify-content: space-around;
  }
  &__copy {
    //margin-right: auto ;
  }
  &__policy {
    //margin: 0 auto;
    margin-left: auto ;
    a {
      color: var(--white);
      font-weight: 300;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.en {
  .footer {
    padding-bottom: 60px;
    &__contacts {
      margin-left: 0;
    }
    &__mail {
      margin-right: 0;
    }
  }
}