.industries {
  margin-top: 140px;
  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-top: 40px;
  }
  &__item {
    border-radius: 6px;
    position: relative;
    padding: 30px;
    gap: 30px;
    &::before {
      content: "";
      display: block;
      position: absolute;
      inset:0;
      opacity: 0.2;
      background-color: var(--violet);
      border-radius: 6px;
    }
  }
  &__icon {
    width: 50px;
    height: 50px;
    background-color: var(--violet);
    border-radius: 50%;
    flex-shrink: 0;

    svg {
      max-width: 25px;
      width: 100px;
      max-height: 25px;
      fill: var(--white);
    }
  }
}