.input_border-bottom, .textarea_border-bottom {
  border: none;
  border-bottom: 1px solid var(--grey-light);
  color: var(--grey-light);
  background-color: transparent;
  padding: 15px 0;
  font-size: 1.1rem;
  font-weight: 300;
  &::placeholder {
    opacity: 1;
  }
}

.textarea_border-bottom {
  width: 100%;
  resize: none;
}

.default-btn {
  display: block;
  padding: 23px 65px 25px;
  border-radius: 32px;
  border: none;
  font-size: 1.1rem;
  line-height: 1;
  &_purple {
    background-color: var(--violet);
    color: var(--white);
  }
}

.input-file {
  position: relative;
  width: max-content;
  cursor: pointer;
  input {
    opacity: 0;
    position: absolute;
    inset: 0;
    cursor: pointer;
    z-index: -1;
  }
  svg {
    fill: var(--white);
    width: 100%;
    display: block;
  }
  &__attach {
    width: 18px;
    display: block;
  }
  &_empty, &_loaded {
    gap: 20px;
    cursor: pointer;
    //position: relative;
  }
  &_loaded {
    display: none;
  }
}

